*{
    box-sizing: border-box;
    margin: 0; 
    font-family: 'Open Sans';
}

header{
    background-color: #0D0630;
    padding: 20px; 
    border-bottom: 5px solid #E6F9AF;
}

header h1{
    color: white;
    font-size: 3rem;
    font-family: 'Mochiy Pop P One', sans-serif;
    letter-spacing: 5px;
}

main{
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    padding: 15px; 
    margin: 20px auto;
}

.input-grp{
    margin: 20px 0; 
}

.input-grp label{
    padding: 10px 10px 10px 0; 
    font-weight: 600;
}

.input-grp input[type="url"]{
    width: 70vw;
    padding: 10px; 
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

.btn-grp{
    display: flex;
}

#submit-btn{
    margin: 0 auto;
    background-color: #384E77;
    padding: 0.6rem 2rem;
    color: white;
    border-radius: 10px;
    border-style: none;
    font-size: 1.3rem; 
    font-weight: 600;
}

#submit-btn:hover{
    opacity: 0.8;
}

textarea {
    padding: 10px;
    resize: none;
    width: 74vw;
    height: 20vh;
    margin: 20px auto;
    /* font-size: 16px;  */
    border: 1px solid #dddfe2;
    border-radius: 20px;
}